<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<% # Include TinyMCE before other JS to avoid problems -%>
<%= include_tiny_mce_if_needed %>
<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'browse' %>
<%= stylesheet_link_tag "/themes/#{@style}/stylesheets/style.css" %>

<title><%= h @meta_title %></title>
<meta name="keywords" content="<%= h(truncate(@meta_keywords)) %>">
<meta name="description" content="<%= h(truncate(@meta_desc)) %>">

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/browse/view_rss" />

</head>
<body>
	<div id="header">
		<% if File.exists?(RAILS_ROOT + "/public/themes/#{@style}/images/logo.png") %>
    	<%= link_to image_tag("../themes/#{@style}/images/logo.png", :class => "logo"), root_url %>
		<% else %>
    <%= link_to image_tag("logo.png", :class => "logo"), root_url  %>
<% end %>
	</div> 
	<div id="container">
 
	  <div id="center">	
	  	<div id="rightmenu">
						<%= render :partial => "browse/widget" %> 
	  	</div>
	    <div id="content">
	  		<%= yield  %>
	     
		  	<div id="footer">  	
	  			<p><%= @site_title %> is powered by <a href="https://github.com/Drantum/Spin">Spin</a> | Theme by <a href="frederik.kerger-mg.de">Frederik</a></p>
		  	</div>
			</div>	
		</div>	  
	</div>
</body>
</html>
